* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

section {
    margin: 30px 0px;
}

body {
    font-family:'Montserrat';
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;

}

header h3 {
    color: #306be1;


    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: 0.1px;
    padding: 13px 93px 13px 0px;

}

a {
    text-decoration: none;
    color: var(--second-text-color, #737373);
    text-align: center;

    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.current-page {
    color: var(--text-color, #252B42);
}

p {
    color: #555;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: inline-flex;
    background-color: #FFFFFF;
}

.search-bar {
    display: inline-flex;

    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;

    padding: 10px;
    flex-direction: row;
}

input {
    display: inline-flex;
    color: var(--second-text-color, #737373);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    border: hidden;
    width: fit-content;
    text-align: left;
    height: 58px;
    border: 1px solid #E6E6E6;
    background: #F9F9F9;
    padding-left: 10px;
    font-family: 'Montserrat';
}


.dropdown select {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-right: 0;
    width: 200px;
    height: 58px;
    background-color: #F9F9F9;
}

.dropdown select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('arrow.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #252B42;
}
  

.dropdown select:hover {
    border-color: #999;
}
  


.pages {
    margin-left: 100px;
    height: inherit;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    color: #737373;
    padding: 10px 0px;
    gap: 10px;
}

.pages a {
    display: inline-block;
    margin-right: 20px;
    padding: 2px;

}



.search-button {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;
    background: var(--primary-color, #23A6F0);
    display: inline-flex;
    width: 60px;
    height: 58px;
    justify-content: center;
    align-items: center;

}

.search-button:hover {
    border: #23A6F0 solid 5px;
}


.dropbtn {
    border: 1px solid #E6E6E6;
    color: #252B42;
    background: #F9F9F9;

    padding: 10px ;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat';
    display: inline-flex;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);;
    flex-direction: row;
    height: 58px;
}

.dropbtn:hover {
    border: #ffffff73 solid 0.5px;
}

#dropdown-menu {
    flex-direction: column;
    z-index: 3;
    top: 90px;
    position:absolute;
    display: none;
    background: #F9F9F9;
    width: 30%;
    height: 500px;
    padding: 20px 0px 20px 20px;
    
}


#dropdown-menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    align-items: flex-start;
    justify-items: flex-start;
    text-align: start;
    z-index: 3;
}

.general {
    padding: 0px;
    display: flex;
    text-align: start;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.general h3 {
    padding: 10px 10px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    text-align: center;
}

.specific h4{
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

.general:hover .specific{
    display: flex;
}

.general:hover {
    background-color: #E6E6E6;
}

.general:hover  h3 {
    font-weight: 700;
}

.specific {
    display: none;
    flex-direction: column;
    position:absolute;
    z-index:3;
    left: 100%;
    top: 0;
    background-color: #F9F9F9;
    width: 90%;
    height: 500px;
}

.specific ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.specific ul li {
    padding: 10px;
    display: flex;
    width: 100%;
    position: relative;
}

.specific ul li:hover {
    background-color: #E6E6E6;
}

.specific ul li:hover h4 {
    font-weight: 600;
}

.category-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 500px;
    flex-direction: column;
    background-color: #F9F9F9;
    z-index: 3;
    padding: 0px 20px 0px 20px;
    justify-content: space-around;

}

.col-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    
}


.specific ul li:hover .category-box {
    display: inline-flex;
}


.col-box figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.col-box figure img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.col-box h5 {
    font-size: 10px;
    font-weight: 500;
    text-overflow: ellipsis;
    width: 100px;

    white-space: nowrap;
    overflow: hidden;

}

.col-box figure:hover img{
    border-radius: 49%;
    box-shadow: 0 0 3px #737373;
}


#dropdown-menu, .specific, .category-box {
    border: 1px solid #E6E6E6;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}


/*#dropdown-menu ul .general h3 {
    color: var(--text-color, #252B42);


    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#dropdown-menu ul .general .category-box {
    display: none;
    position:absolute;
    background-color: #ff0000;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    top: 0px;
    left: 170px;
    margin-top: 10px;
    z-index: 4;
}

#dropdown-menu ul .general:hover {
    background-color: #ccc;
}

#dropdown-menu ul .general:hover  .category-box {
    display: flex;
}


#dropdown-menu ul .general .category-box .colbox {
    display: inline-block;
    padding: 30px;
    align-items: start;
}

#dropdown-menu ul .general .category-box .colbox h5 {
    color: var(--text-color, #252B42);

    font-family: 'Montserrat';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#dropdown-menu ul .general .category-box .colbox ul {
    display: flex;

    flex-direction: column;
    padding: 0;
    list-style-type: none;
}

#dropdown-menu ul .general .category-box .colbox ul li {
    display: block;
    text-align: start;
    margin-top: 10px;
}

#dropdown-menu ul .general .category-box .colbox ul li a {
    color: var(--second-text-color, #737373);


    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}*/
  
.slider{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider__slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.slider__slide{
    min-width: 100%;
    flex: 0 0 auto;
}

.slider__slide img {
    width: 100%;
    height: 300px;
}
  

.slider__prev,
.slider__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: #F9F9F9;
    border-radius: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
}
  
.slider__prev {
    left: 10px;
}
  
.slider__next {
    right: 10px;
}

.popular-categories {
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;

}

.popular-categories h1, .featured-products h1 {
    color: #000;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 60% */
    letter-spacing: 0.2px;
    flex-shrink: 0;
    margin: 40px 0px 20px 20px;
}

.popular-categories ul {
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.popular-categories ul li {
    display: inline-flex;
    gap: 50px;
}

.popular-categories ul li figure {
    display: inline-flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
}

.popular-categories ul li figure img {
    border-radius: 50%;
    box-shadow: 0px 0px 3px #737373;
    width: 100%;
    height: 150px;
}

.popular-categories ul li figure img:hover {
    border-radius: 49%;
    box-shadow: 0px 0px 5px #737373;;
}


.popular-categories ul li figure h5 {
    display: block;
    color: var(--text-color, #252B42);
    text-align: center;
    
    /* h5 */
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    margin-top: 15px;
    position: relative;
    display: inline;
}

.featured-products {
    display: inline;
}

.featured-products ul {
    height: 300px;
    list-style-type: none;
    display: flex;
    overflow-y: auto ;
    scrollbar-width: thin;
    scrollbar-color: #333 #ccc;
    gap: 25px;
    margin-left: 38px;
}

.featured-products ul li {
    display: inline-block;
}

.featured-products ul li figure {
    width: 250px;
    height: 270px;
    text-align: left;
}

.featured-products ul li figure img {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 4px;

}

.featured-products ul li figure p {
    color: var(--second-text-color, #737373);

    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.featured-products ul li figure h5 {
    color: var(--secondary-color-1, #23856D);
    text-align: left;

    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.ads {
    margin: 0px 30px;
    display: flex;
    max-width:1292px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(90deg, #96E9FB 0%, #ABECD6 100%);
}

.ads div {
    display: flex;
    width: 548px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
    margin: 100px 0px;
}

.ads div h5 {
    color: var(--hover-text-color, #2A7CC7);

    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.1px;
}

.ads div h1 {
    color: var(--text-color, #252B42);


    font-family: 'Montserrat';
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; 
    letter-spacing: 0.2px;
}

.ads div h4 {
    color: var(--second-text-color, #737373);

    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0.2px;
}

.ads div button {
    display: flex;
    padding: 15px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--primary-color, #23A6F0);
    border: none;
}

.ads div button:hover {
    background-color: #0077C2;
}

.ads div button h3 {
    color: var(--light-text-color, #FFF);
    text-align: center;

    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    letter-spacing: 0.1px;
}

footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--dark-background-color, #252B42);
}

footer nav {
    background-color: inherit;
    display: flex;
    height: 58px;
    justify-content: start;
    align-items: start;
}

footer nav ul {
    display: inline-flex;
    padding: 20px;
    list-style-type: none;
    align-items: start;
    gap: 20px;
}

footer nav ul li {
    padding: 10px;
    display: flex;
    width: 43px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

footer nav ul li a {
    color: var(--muted-color, #BDBDBD);
    text-align: center;

    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}



footer nav h3 {
    color: var(--text-color, #ffffff73);


    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: 0.1px;
    margin: 15px 60px 0px 300px;
}

footer .logo {
    display: flex;
    height: 58px;
    padding: 13px 93px 13px 0px;
    align-items: center;
}

@media only screen and (max-width: 1342px) {
    .popular-categories ul li {
        gap: 30px;
    }
}

@media only screen and (max-width: 1220px) {
    .popular-categories ul li figure {
        width: 135px;
    }

    .popular-categories ul li figure img {
        height: 135px;
    }

    .popular-categories ul li figure h5 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1130px) {
    header h3 {
        padding: 10px 50px 10px 0px;
    }

    .pages {
        margin-left: 70px;
    }

    .popular-categories ul li {
        gap: 25px;
    }

    .popular-categories ul li figure {
        width: 120px;
    }

    .popular-categories ul li figure img {
        height: 120px;
    }

    .popular-categories ul li figure h5 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1010px) {
    header h3 {
        padding: 10px 20px 10px 0px;
    }

    .pages {
        margin-left: 50px;
    }

    .popular-categories ul li {
        gap: 20px;
    }

    .popular-categories ul li figure h5 {
        font-size: 10px;
    }

    .slider__slide{
        min-width: 100%;
        flex: 0 0 100%;
    }
}

@media only screen and (max-width: 980px) {
    .popular-categories ul li figure {
        width: 110px;
    }

    .popular-categories ul li figure img {
        height: 110px;
    }
}

@media only screen and (max-width: 715px) {
    header {
        padding: 10px;

    }

    header h3 {
        font-size: 24px;
        padding: 10px 60px 10px 0px;
    }

    nav {
        
    }
}

@media only screen and (max-width: 400px) {
    header {
        width: 100%;
        padding: 10px;
        display: grid;
        place-items: center;

    }

    header h3 {
        font-size: 20px;
        padding: 0;
        display: flex;
        
    }

    header .search-bar {
        margin-right: 0;

        display: flex;
        justify-content: flex-start;
        
    }

    input, .dropdown select, .search-button {
        height: 34px;
        font-size: 8px;
        width: auto;
    }

    nav {
        gap: 20px;
        padding-right: 5px;
        display: inline-block;
        
    }

    .dropbtn{
        display: none;
    }

    .pages {
        margin-left: 30px;
        gap: 5px;
        font-size: 10px;
        padding: 5px 0px;
    }

    .slider__slide img {
        height: 200px;
        width: 100%;
    }

    .popular-categories h1,
    .featured-products h1 {
        font-size: 18px;
        margin: 20px 0px 10px 10px;
    }

    .featured-products ul {
        margin-left: 10px;
    }

    .featured-products ul li figure {
        width: 150px;
        height: 180px;
    }

    .featured-products ul li figure img {
        width: 150px;
        height: 150px;
    }

    .ads div h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .ads div h4 {
        font-size: 16px;
        line-height: 24px;
    }

    .ads div button {
        padding: 10px 20px;
    }

    footer {
        width: 100%;
    }

    footer nav {
        padding: 10px;
    }

    footer nav ul {
        gap: 10px;
    }


    footer nav h3 {
        margin: 10px 30px 0px 0px;
        font-size: 20px;
        line-height: 28px;
    }
}

.description-box {
    display: flex;

}

.item{
    position: relative;
    width: 30%;
    overflow: hidden;
}
  

.item-images{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.image{
    min-width: 100%;
    flex: 0 0 auto;
}

.image img {
    width: 100%;
    height: 300px;
}

.description {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.description h4 {
    font-weight: 600;
}

.signin-box {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px
}

.signin-box input {
    width: 60%;
}

.signin-button {
    margin-top: 40px;
    width: 60%;
    border-radius: 10px;
    padding: 20px 30px;
    color: #FFFFFF;
    background-color: #23A6F0;
    border: none;
}

.signin-button:hover {
    background-color: #0077C2;
}

.signin-box h1 {
    color: #306be1;
    font-family: 'Montserrat';
    
}

